.rc-full-width {
    width: 90%;
}

.d-lift-content {

    height: 100%;
    width: 70%;
    background-color: #009688;
    margin: 0 auto;
    text-align: center;
    border-radius: 7px;
}

.rc-channel {
    display: block;
    font-size: 20px;
    color: white;
    margin: 20px;
    border-radius: 7px;
}
.active {
  background-color: white;
  color: #a0c9dc;
  padding: 5px;
}

/*.rc-main {
    height: 100%;
}*/

/*#id-div-chats {
    /*background: red;*/
    /*height: 80%;
    overflow-y: scroll;
}*/

.rc-input {
    /*height: 200px;*/
    position: fixed;
    bottom: 0px;
    /* left: 100px; */
    width: 47%;
    margin: 10px;
}
body {
  font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
  font-size: 20px;
  margin: 0px;
  color: white;
  background-color: #f1f0ec;
  overflow: auto;
}

.gua-hedden {
  display: none;
}
.gua-block {
height: 3px;
width: 40px;
background-color: #cc9900;
position: relative;
left: 136.5px;
}
.chat-main {
  display: flex;
  background-color: white;
  margin: 0 auto;
}
.lift-content {
  flex-grow: 1;
  width: 375px;
}
.right-content {
  flex-grow: 6;
  background-color: #607D8B;
  border-radius: 7px;
}
h1 {
    font-size: 1.802em;
    margin: 0;
}
.chat-item {
    padding-bottom: .4em;
    width: 97%;
    margin: 0 auto;
    border-radius: 5px;
}
.h1-div-class {
    color: white;
    height: 50px;
    padding: 25px;
    font-size: 30px;
}
.gua-input-login {
    height: 36px;
    width: 70%;
    padding: 10px;
    font-size: 10px;
    border-style: hidden;
    border-radius: 3px;
    margin: 10px 0;
}
.gua-button-login {
    height: 30px;
    width: 70%;
    border-style: hidden;
    background-color: #d4ab32;
    border-radius: 2px;
    margin: 10px 0;
}
.span-font {
    font-size: 15px;
    color: black;
}
.chat-main {
    width: 70%;
}
#id-input-content {
    /* background-color: #673AB7; */
    border-color: #009688;
    border-radius: 6px;
    font-size: 15px;
}
#id-button-send {
    margin-top: 10px;
    height: 40px;
    border-style: none;
    border-radius: 3px;
    /* width: 90%; */
    background-color: #d4ab32;
    color: white;
}
a:hover {
  text-decoration: none;
}
#id-div-chats {
  overflow: auto;
}
