<html>
  <head>
    <meta charset="utf-8">
    <title>聊天室</title>
    <link rel="stylesheet" href="/static/pure-min.css">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/chat.css">
    <script src="/static/jquery.min.js"></script>
    <script type="text/javascript">
    var heddenLogin = function () {
      $('#gua-login').on('click', function(){
        var alogin = $(this)
        var login = alogin.closest('.main-login-register').find('.gua-have-form-login')
        var register = alogin.closest('.main-login-register').find('.gua-have-form-register')
        var block = alogin.closest('.main-login-register').find('.gua-block')
        login.removeClass('gua-hedden')
        register.addClass('gua-hedden')
        block.animate({"left": "92px"}, "fast")
        return false;
      })

    }

    var heddenRegister = function() {
      $('#gua-register').on('click', function(){
        var aregister = $(this)
        var register = aregister.closest('.main-login-register').find('.gua-have-form-register')
        var login = aregister.closest('.main-login-register').find('.gua-have-form-login')
        var block = aregister.closest('.main-login-register').find('.gua-block')
        register.removeClass('gua-hedden')
        login.addClass('gua-hedden')
        block.animate({"left": "168px"}, "fast")
        return false;

      })
    }



    // 频道和消息
    var chatStore = {
        '大厅': [],
        '游戏': [],
        '灌水': [],
    };
    var currentChannel = '';

    var log = function(){
      console.log(arguments);
    };

    // 滚动到底部
    var scrollToBottom = function(selector){
        var height = $(selector).prop("scrollHeight");
        $(selector).animate({
            scrollTop: height
        }, 300);
    };

    var chatItemTemplate = function(chat) {
        var name = chat.user;
        var avatar = chat.avatar;
        var content = chat.content;
        var time = chat.created_time;
        var t = `
        <div class="chat-item burstStart read burstFinal">
            <div class="chat-item__container">
                <div class="chat-item__aside">
                    <div class="chat-item__avatar">
                        <span class="widget">
                            <div class="trpDisplayPicture avatar-s">
                                <img src="${avatar}"  height="30" width="30" class="avatar__image" alt="">
                            </div>
                        </span>
                    </div>
                </div>
                <div class="chat-item__actions js-chat-item-actions">
                    <i class="chat-item__icon icon-check chat-item__icon--read chat-item__icon--read-by-some js-chat-item-readby"></i>
                    <i class="chat-item__icon icon-ellipsis"></i>
                </div>
                <div class="chat-item__content">
                    <div class="chat-item__details">
                        <div class="chat-item__from js-chat-item-from">${name}</div>
                        <a class="chat-item__time js-chat-time" href="#">
                            <time data-time="${time}"></time>
                        </a>
                    </div>
                    <div class="chat-item__text js-chat-item-text">${content}</div>
                </div>
            </div>
        </div>
        `;
        return t;
    };

    var insertChats = function(chats) {
        var selector = '#id-div-chats'
        var chatsDiv = $(selector);
        var html = chats.map(chatItemTemplate);
        chatsDiv.append(html.join(''));
        scrollToBottom(selector);
    };

    var insertChatItem = function(chat) {
        var selector = '#id-div-chats'
        var chatsDiv = $(selector);
        var t = chatItemTemplate(chat);
        chatsDiv.append(t);
        scrollToBottom(selector);
    };

    var chatResponse = function(r) {
        var chat = JSON.parse(r);
        chatStore[chat.channel].push(chat);
        if(chat.channel == currentChannel) {
            insertChatItem(chat);
        }
    };

    var subscribe = function() {
      var sse = new EventSource("/chatroom/subscribe");
      sse.onmessage = function(e) {
        log(e, e.data);
        chatResponse(e.data);
     };
    };

    var sendMessage = function(){
      var user_id = $('#id-input-name').val();
      var content = $('#id-input-content').val();
      var message = {
        user_id: user_id,
        content: content,
        channel: currentChannel,
      };

      var request = {
        url: '/chatroom/chat/add',
        type: 'post',
        contentType: 'application/json',
        data: JSON.stringify(message),
        success: function(r){
          log('success', r);
        },
        error: function(err) {
          log('error', err);
        }
      };
      $.ajax(request);
    };

    var changeChannel = function(channel) {
        document.title = '聊天室 - ' + channel;
        currentChannel = channel;
    };

    var bindActions = function(){
      $('#id-button-send').on('click', function(){
        // $('#id-input-content').val();
        sendMessage();
      });
      // 频道切换
      $('.rc-channel').on('click', function(e){
          e.preventDefault();
          //
          var channel = $(this).text();
          changeChannel(channel);
          // 切换显示
          $('.rc-channel').removeClass('active');
          $(this).addClass('active');
          // reload 信息
          $('#id-div-chats').empty();
          var chats = chatStore[currentChannel];
          insertChats(chats);
      })
    };

    // long time ago
    var longTimeAgo = function() {
      var timeAgo = function(time, ago) {
        return Math.round(time) + ago;
      };

      $('time').each(function(i, e){
        var past = parseInt(e.dataset.time);
        var now = Math.round(new Date().getTime() / 1000);
        var seconds = now - past;
        var ago = seconds / 60;
        // log('time ago', e, past, now, ago);
        var oneHour = 60;
        var oneDay = oneHour * 24;
        // var oneWeek = oneDay * 7;
        var oneMonth = oneDay * 30;
        var oneYear = oneMonth * 12;
        var s = '';
        if(seconds < 60) {
            s = timeAgo(seconds, ' 秒前')
        } else if (ago < oneHour) {
            s = timeAgo(ago, ' 分钟前');
        } else if (ago < oneDay) {
            s = timeAgo(ago/oneHour, ' 小时前');
        } else if (ago < oneMonth) {
            s = timeAgo(ago / oneDay, ' 天前');
        } else if (ago < oneYear) {
            s = timeAgo(ago / oneMonth, ' 月前');
        }
        $(e).text(s);
      });
    };



    var changeAavatar = function () {
      $('.update-avatar').change(function() {
      var img = $(".update-avatar").val()
      var oldimg = $('.update-avatar').closest('.form-update-user').find('.see-avatar-one')
      oldimg.attr('src', img)
      })
    }


    var __main = function(){
      subscribe();
      bindActions();
      changeAavatar();
      heddenLogin();
      heddenRegister();

      // 选中第一个 channel 作为默认 channel
      $('.rc-channel')[0].click();
      // 更新时间的函数
      setInterval(function () {
          longTimeAgo();
      }, 1000);
    };

    $(document).ready(function(){
      __main();
    });
    </script>
 </head>

 <body>
   <div class="chat-main">
    <div id='id-div-channels' class="rc-left lift-content">
      <div class="d-lift-content">
        <div class="h1-div-class">聊天室</div>
        {% if not user %}
        <div class="main-login-register">
          <div>
            <a id="gua-login"class="gua-a"href="#">登录</a>
            <a id="gua-register"class="gua-a"href="#">注册</a>
            <div class="gua-block"></div>
          </div>
          <div class="rc-login gua-have-form-login">
            <h6>快来登录一起聊得飞起吧</h6>
            <form class="" action="/chatroom/login" method="post">
              <input class="gua-input-login"type="text" name="username" placeholder="用户名">
              <input class="gua-input-login"type="password" name="password" placeholder="密码">
              <div class="">
                <button class="gua-button-login"type="submit" name="button">登录</button>
              </div>
            </form>
          </div>
          <div class="gua-have-form-register gua-hedden">
            <form class="form-update-user" action="/chatroom/register" method="post">
              <div class="form-have-update-avatar">
              <select class="update-avatar gua-input-login" name="avatar">
                <option class="one-avatar"value="/static/img/1.jpg">钢铁侠</option>
                <option class="one-avatar"value="/static/img/2.jpg">蝙蝠侠</option>
                <option class="one-avatar"value="/static/img/3.jpg">美国队长</option>
                <option class="one-avatar"value="/static/img/4.jpg">柯南</option>
                <option class="one-avatar"value="/static/img/5.jpg">皮卡丘</option>
                <option class="one-avatar"value="/static/img/6.jpg">高达</option>
                <option class="one-avatar"value="/static/img/7.jpg">王尼玛</option>
                <option class="one-avatar"value="/static/img/8.jpg">蜘蛛侠</option>
                <option class="one-avatar"value="/static/img/9.jpg">鸣人</option>
                <option class="one-avatar"value="/static/img/10.jpg">喜羊羊</option>
              </select>
                <span class="span-font">*头像暂不支持上传*</span>
                <div class="see-avatar">
                  <span class="span-avatar">头像预览：<span><img height="50px"width="50px"class="see-avatar-one"src="/static/img/1.jpg" alt="" />
                </div>
              </div>
              <input class="gua-input-login"type="text" name="username" placeholder="注册用户名必须大于4位">
              <input class="gua-input-login"type="text" name="password" placeholder="注册密码必须大于4位">
              <input class="gua-input-login"type="text" name="captcha" placeholder="验证码“吃瓜群众”">
              <div class="">
                <button class="gua-button-login"type="submit" name="button">注册</button>
              </div>
            </form>
          </div>
        </div>
        {% endif %}
        <div class="">
          <a class="rc-channel" href="#">大厅</a>
          <a class="rc-channel" href="#">游戏</a>
          <a class="rc-channel" href="#">灌水</a>
        </div>
        {% if not user %}
        <div class="login-user-user">
          <div class="login-user-avatar">
            <img src="{{user.avatar}}" alt="" />
          </div>
          <div class="login-user-username">
            {{user.username}}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="rc-main right-content">
      <div class="d-right-content">
        <div id="id-div-chats">
            <!-- <div class="chat-item model-id-579cbda07fd9f73e16eca0a6 burstStart read burstFinal">
                <div class="chat-item__container">
                    <div class="chat-item__aside">
                        <div class="chat-item__avatar">
                            <span class="widget">
                                <div class="trpDisplayPicture avatar-5592912d15522ed4b3e316df avatar-s   ">
                                    <img src="https://avatars0.githubusercontent.com/u/7235381?v=3&amp;s=30"  height="30" width="30" class="avatar__image" alt="">
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="chat-item__actions js-chat-item-actions">
                        <i class="chat-item__icon icon-check chat-item__icon-read chat-item__icon-read-by-some js-chat-item-readby"></i>
                        <i class="chat-item__icon icon-ellipsis"></i>
                    </div>
                    <div class="chat-item__content">
                        <div class="chat-item__details">
                            <div class="chat-item__from js-chat-item-from">小瓜</div>
                            <a class="chat-item__time js-chat-time" href="#" title="July 30, 2016 10:45 PM" data-disable-routing="true">Jul 30 22:45</a>
                        </div>
                        <div class="chat-item__text js-chat-item-text">This is a chat of greetings.</div>
                    </div>
                </div>
            </div> -->
        </div>
      {% if user %}
        <div class="rc-input">
            <form class="pure-form pure-form-stacked">
                <input id='id-input-name' class="rc-full-width" type="hidden" value="{{user.id}}">
                <textarea id='id-input-content' class="rc-full-width" placeholder="内容"></textarea>
                <button id='id-button-send' class="rc-full-width" type='button'>发送消息</button>
            </form>
        </div>
      {% endif %}
    </div>
  </div>
 </body>
</html>
